
body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.reloj {
  text-align: center;
  display: flex;
  background-color: #E7D2F3;
  width: 200px;
  border: 1px;
  border-radius: 10px;
}

.separated {
  margin: 10px;
}
